html.light {
	--shadow-smooth:0 1px 1px rgba(0,0,0,0.1), 0 2px 2px rgba(0,0,0,0.075), 0 4px 4px rgba(0,0,0,0.075), 0 8px 8px rgba(0,0,0,0.15);
	
	--main-first:rgb(255,255,255);
	--main-first-transparent:rgba(255,255,255,0.9);
	--main-second:rgb(240,240,240);
	--main-second-transparent:rgba(240,240,240,0.4);
	--main-third:rgb(230,230,230);
	--main-fourth:rgb(220,220,220);
	--main-fifth:rgb(210,210,210);

	--main-contrast:rgb(50,50,50);
	--main-contrast-dark:rgb(75,75,75);
	--main-contrast-darker:rgb(100,100,100);

	--accent-first:#c4a383;
	--accent-second:#a3805e;
	--accent-third:#866849;
	
	--accent-contrast:rgb(255,255,255);
}