@media screen and (max-width:1300px) {
	.market-list-row .name, .market-list-row .symbol {
		max-width:110px;
	}
}

@media screen and (min-width:1260px) {
	.page-container.full {
		width:1220px;
		left:calc(50% - 1220px / 2);
	}
}

@media screen and (min-width:1160px) {
	.page-container.holdings.half.top-left {
		left:calc(50% - 300px - 180px - 30px - 50px);
	}
	.page-container.holdings.half.bottom-left {
		left:calc(50% - 300px - 180px - 30px - 50px);
	}
	.page-container.holdings.half.right {
		width:800px;
		left:calc(50% - 800px / 2 + 180px - 20px);
	}
}

@media screen and (min-width:1000px) {
	.page-container.full.activity {
		width:960px;
		left:calc(50% - 960px / 2);
	}
}