html, body, input, textarea {
	font-family:var(--font-family);
}

body {
	margin:0;
	background:var(--main-first);
	color:var(--main-contrast);
	padding:0;
	font-size:0;
	overflow:hidden;
}
input, button {
	outline:none;
	border:none;
}
button {
	cursor:pointer;
	transition:background 0.25s;
}
html, body, textarea, input, div {
	transition:background 0.25s;
}
a {
	text-decoration:none;
	color:var(--accent-first);
}
.clickable {
	cursor:pointer;
}
.noselect {
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	outline:none;
}
.hidden {
	display:none;
	visibility:hidden;
	position:absolute;
	z-index:-1;
}
.uppercase {
	text-transform:uppercase;
}

#web .app-only {
	display:none;
}

::-webkit-scrollbar, div::-webkit-scrollbar {
	display:block;
	width:4px;
	height:6px;
	background:var(--main-fifth);
	border-radius:5px;
}
::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
	border-radius:5px;
	background:var(--main-contrast-darker);
}
::-webkit-scrollbar-thumb:hover, div::-webkit-scrollbar-thumb:hover {
	background:var(--accent-first);
}
::-webkit-scrollbar-track, div::-webkit-scrollbar-track { 
	background:var(--main-first);
	border-radius:5px;
}

input::-webkit-input-placeholder {
	text-transform: none;
}
input:-moz-placeholder {
	text-transform: none;
}
input::-moz-placeholder {
	text-transform: none;
}
input:-ms-input-placeholder {
	text-transform: none;
}
input::placeholder {
	text-transform: none;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance:none;
	margin:0;
}
input[type=number] {
	-moz-appearance:textfield;
}

.noscript-wrapper {
	position:absolute;
	z-index:999;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	background:rgba(0,0,0,0.7);
	backdrop-filter:blur(4px);
}
.noscript-wrapper span {
	display:block;
	text-align:center;
	width:100%;
	font-size:20px;
	font-weight:bold;
	color:rgb(255,255,255);
}

#background {
	pointer-events:none;
	transform:rotate(180deg);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:1;
	background-size:cover;
	background-attachment:fixed;
	z-index:1;
}

.loading-screen {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:999;
	background:rgb(20,20,20);
}
.loading-overlay {
	display:none;
	pointer-events:none;
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:absolute;
	background:rgb(20,20,20);
	transition:none;
	z-index:99;
}
.loading-overlay.active {
	display:block;
	pointer-events:all;
}
.loading-overlay span {
	width:100%;
	line-height:30px;
	font-size:24px;
	color:rgb(235,235,235);
	position:absolute;
	top:calc(50% - 30px / 2);
	text-align:center;
	display:block;
	position:absolute;
}
.loading-screen span {
	font-size:18px;
	font-weight:bold;
	color:rgb(255,255,255);
	display:block;
	text-align:center;
	width:100%;
	line-height:40px;
	position:absolute;
	top:calc(50% - 40px / 2 + 70px);
	pointer-events:none;
}
.loading-icon {
	display:inline-block;
	position:absolute;
	top:calc(50% - 80px / 2);
	left:calc(50% - 80px / 2);
	width:80px;
	height:80px;
}
.loading-icon div {
	position:absolute;
	border:4px solid var(--accent-first);
	opacity:1;
	border-radius:50%;
	animation:loading-icon 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading-icon div:nth-child(2) {
	animation-delay:-0.5s;
}
@keyframes loading-icon {
	0% {
		top:36px;
		left:36px;
		width:0;
		height:0;
		opacity:1;
	}
	100% {
		top:0px;
		left:0px;
		width:72px;
		height:72px;
		opacity:0;
	}
}

.input-password-wrapper {
	position:relative;
}
.button-hide-password {
	position:absolute;
	top:0;
	right:20px;
	width:40px;
	height:100%;
	padding:0;
	margin:0;
	box-sizing:border-box;
	border-style:solid;
	border-width:0 0 0 2px;
	border-color:var(--accent-first);
	border-top-left-radius:0;
	border-top-right-radius:var(--border-radius);
	border-bottom-left-radius:0;
	border-bottom-right-radius:var(--border-radius);
	background:none;
}
#desktop .button-hide-password:hover, .button-hide-password.active {
	background:var(--accent-first);
}
#desktop .button-hide-password:hover svg, .button-hide-password.active svg {
	fill:var(--accent-contrast);
}
.button-hide-password svg {
	width:20px;
	height:20px;
	padding:5px;
	margin:2px 2px 0 0;
	fill:var(--main-contrast);
}

.login-title-wrapper {
	z-index:2;
	position:absolute;
	top:calc(50% - 60px / 2 - 160px - 20px);
	left:calc(50% - 300px / 2);
	height:60px;
	width:300px;
	text-align:center;
	background:var(--main-second-transparent);
	backdrop-filter:var(--blur);
	box-shadow:var(--shadow-smooth);
	border-radius:var(--border-radius);
}
.login-page.create .login-title-wrapper {
	top:calc(50% - 60px / 2 - 160px - 20px - 30px);
}
.login-title-wrapper span {
	padding-top:4px;
	line-height:60px;
	color:var(--accent-first);
	font-weight:bold;
	display:block;
	font-size:34px;
	font-family:"Arkhip";
}

.login-wrapper {
	z-index:2;
	position:absolute;
	width:300px;
	height:260px;
	left:calc(50% - 300px / 2);
	top:calc(50% - 260px / 2);
	background:var(--main-second-transparent);
	backdrop-filter:var(--blur);
	box-shadow:var(--shadow-smooth);
	border-radius:var(--border-radius);
}
.login-page.create .login-wrapper {
	height:320px;
	top:calc(50% - 320px / 2);
}
.login-page.login .login-container {
	display:block;
}
.login-page.login .create-container {
	display:none;
}
.login-page.create .login-container {
	display:none;
}
.login-page.create .create-container {
	display:block;
}
.login-wrapper input, .popup-wrapper input {
	width:calc(100% - 40px);
	display:block;
	padding:0 10px 0 10px;
	height:40px;
	font-size:18px;
	background:var(--main-first);
	box-sizing:border-box;
	border-style:solid;
	border-width:2px;
	border-color:var(--accent-first);
	color:var(--main-contrast);
	border-radius:var(--border-radius);
	margin:20px auto 0 auto;
	font-weight:bold;
}
.login-wrapper input::placeholder, .popup-wrapper input::placeholder {
	color:var(--accent-first);
}
.login-wrapper input:focus, .popup-wrapper input:focus {
	border-color:var(--main-contrast);
}
.login-wrapper input:focus::placeholder, .popup-wrapper input:focus::placeholder {
	color:var(--main-contrast);
}
.login-wrapper button.action {
	width:calc(100% - 40px);
	display:block;
	padding:0 10px 0 10px;
	height:40px;
	font-size:18px;
	background:var(--accent-first);
	border-radius:var(--border-radius);
	margin:20px auto 0 auto;
	font-weight:bold;
	color:var(--accent-contrast);
	transition:background 0.25s;
}
#desktop .login-wrapper button.action:hover {
	background:var(--accent-second);
}
.login-wrapper button.action:first-of-type {
	box-sizing:border-box;
	border-style:solid;
	border-width:2px;
	border-color:var(--accent-first);
	background:var(--main-third);
	color:var(--main-contrast-darker);
}
#desktop .login-wrapper button.action:first-of-type:hover {
	background:var(--main-fifth);
}

.toggle-wrapper {
	width:50px;
	height:25px;
	background:var(--main-third);
	border-radius:12.5px;
	position:relative;
	cursor:pointer;
	display:inline-block;
	box-shadow:var(--shadow-smooth);
}
.toggle-wrapper.active {
	background:var(--accent-first);
}
.toggle-container {
	transform:scale(1.05);
	width:50%;
	height:100%;
	border-radius:50%;
	background:var(--main-fifth);
	transition:0.25s;
	left:0;
	top:0;
	position:absolute;
}
html.light .toggle-container {
	background:var(--main-second);
}
.toggle-wrapper.active .toggle-container {
	left:50%;
	background:var(--main-fourth);
}
.toggle-container svg {
	width:70%;
	height:60%;
	padding:20% 15% 20% 15%;
	fill:var(--accent-first);
}
.toggle-container .moon-icon {
	display:block;
}
.toggle-wrapper.active .moon-icon {
	display:none;
}
.toggle-wrapper.active .sun-icon {
	display:block;
}
.sun-icon {
	display:none;
}

.login-page .toggle-wrapper {
	position:absolute;
	z-index:2;
	bottom:calc(50% - 40px / 2 - 150px - 20px);
	left:calc(50% - 80px / 2);
	width:80px;
	height:40px;
	border-radius:20px;
}
.login-page.create .toggle-wrapper {
	bottom:calc(50% - 40px / 2 - 150px - 20px - 30px);
}

.popup-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:49;
	backdrop-filter:blur(4px);
	background:rgba(0,0,0,0.65);
}
.popup-wrapper {
	position:absolute;
	z-index:50;
	border-radius:var(--border-radius);
	backdrop-filter:blur(4px);
	background:var(--main-first-transparent);
	overflow:hidden auto;
}
.popup-wrapper .top {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:30px;
	background:var(--accent-first);
}
.popup-wrapper .top button {
	padding:0;
	width:30px;
	height:30px;
	background:var(--accent-second);
}
#desktop .popup-wrapper .top button:hover {
	background:var(--accent-third);
}
.popup-wrapper .top button svg {
	width:20px;
	height:20px;
	fill:var(--accent-contrast);
	pointer-events:none;
}
.popup-wrapper .top .title {
	font-size:16px;
	font-weight:bold;
	color:var(--accent-contrast);
	vertical-align:top;
	padding-left:10px;
	line-height:30px;
}
.popup-wrapper .bottom {
	position:absolute;
	top:30px;
	left:0;
	width:calc(100% - 40px);
	height:calc(100% - 30px - 40px);
	padding:20px;
	text-align:left;
	overflow:hidden auto;
}
.popup-wrapper .bottom span {
	display:block;
	font-size:16px;
	padding:10px;
	line-height:25px;
	background:var(--main-second);
	border-radius:var(--border-radius);
	box-sizing:border-box;
	border-style:solid;
	border-width:2px;
	border-color:var(--accent-first);
}
.popup-wrapper .bottom span.detail {
	margin-top:20px;
	font-weight:bold;
}
.popup-wrapper .bottom .choice {
	height:40px;
	width:calc(50% - 10px);
	font-size:18px;
	font-weight:bold;
	color:var(--accent-contrast);
	border-radius:var(--border-radius);
	background:var(--accent-second);
	opacity:0.6;
	transition:background 0.25s, opacity 0.25s;
}
#desktop .popup-wrapper .bottom .choice:hover {
	opacity:0.8;
}
.popup-wrapper .bottom .choice.active {
	opacity:1;
	pointer-events:none;
	background:var(--accent-first);
}
.popup-wrapper .bottom .popup-button-wrapper {
	width:100%;
	height:40px;
	text-align:center;
	display:block;
	margin-top:20px;
}
.popup-wrapper .bottom .popup-button-wrapper.margin-bottom {
	margin-bottom:20px;
}
.popup-wrapper .bottom .popup-button-wrapper.three .choice {
	width:calc(100% / 3 - 6.7px);
}
.popup-wrapper .bottom .popup-button-wrapper.three .choice.small {
	width:calc(100% / 3 - 20px);
}
.popup-wrapper .bottom .popup-button-wrapper.three .choice.large {
	width:calc(100% / 3 + 20px);
}
.popup-wrapper .bottom .popup-button-wrapper button:first-of-type {
	margin-right:10px;
}
.popup-wrapper .bottom .popup-button-wrapper button:last-of-type {
	margin-left:10px;
}
.popup-wrapper .bottom .popup-button-wrapper button {
	height:100%;
	width:calc(50% - 10px);
	font-size:18px;
	font-weight:bold;
	color:var(--accent-contrast);
	border-radius:var(--border-radius);
	background:var(--accent-third);
}
.popup-wrapper.full-width .bottom .popup-button-wrapper button {
	width:100px;
}
#desktop .popup-wrapper .bottom button:hover {
	background:var(--accent-second);
}
.popup-wrapper .bottom button.button-confirm {
	background:var(--accent-first);
}
.popup-wrapper .bottom button.button-cancel {
	background:var(--main-fourth);
	color:var(--main-contrast-darker);
	box-sizing:border-box;
	border-style:solid;
	border-width:2px;
	border-color:var(--accent-first);
}
#desktop .popup-wrapper .bottom button.button-cancel:hover {
	background:var(--main-fifth);
}
.popup-wrapper .bottom img {
	display:block;
	width:100%;
	margin-top:20px;
	border-radius:var(--border-radius);
	box-sizing:border-box;
	border-style:solid;
	border-width:2px;
	border-color:var(--accent-first);
	transition:border-color 0.25s;
}
.popup-wrapper .bottom img.active {
	border-width:4px;
	border-color:var(--accent-second);
	pointer-events:none;
}
.popup-wrapper .bottom .toggle-wrapper {
	width:80px;
	height:40px;
	border-radius:20px;
	margin:20px auto 0 auto;
	display:block;
}
.popup-wrapper .bottom input {
	margin:0;
	width:100%;
	margin-bottom:20px;
}
.popup-wrapper .bottom .chart-wrapper {
	display:block;
	padding:10px;
	background:var(--main-first);
	border-radius:var(--border-radius);
	box-sizing:border-box;
	border-style:solid;
	border-width:2px;
	border-color:var(--accent-first);
	margin:0 auto 20px auto;
	max-width:1300px;
}
.popup-wrapper .bottom .info-wrapper {
	display:block;
}
.popup-wrapper .bottom .info-container {
	text-align:center;
	margin-bottom:10px;
}
.popup-wrapper .bottom .info-container span {
	background:var(--main-first);
	color:var(--main-contrast);
	font-size:16px;
	font-weight:bold;
	display:inline-block;
	margin:0 5px 10px 5px;
}
.popup-wrapper .bottom .popup-list {
	overflow:hidden auto;
	border-radius:var(--border-radius);
	box-sizing:border-box;
	border-style:solid;
	border-width:2px;
	border-color:var(--accent-first);
}
.popup-wrapper .bottom .popup-list div {
	display:block;
	background:var(--main-first);
	cursor:pointer;
}
.popup-wrapper .bottom .popup-list div:nth-child(odd) {
	background:var(--main-second);
}
#desktop .popup-wrapper .bottom .popup-list div:hover {
	background:var(--accent-first);
}
#desktop .popup-wrapper .bottom .popup-list div:hover span {
	color:var(--accent-contrast);
}
.popup-wrapper .bottom .popup-list span {
	background:none;
	font-weight:bold;
	display:inline-block;
	border:none;
	color:var(--main-contrast);
}
.popup-wrapper .bottom .action-button.delete {
	display:block;
	width:100%;
	background:var(--negative-first);
	margin:0 auto 0 auto;
}
#desktop .popup-wrapper .bottom .action-button.delete:hover {
	background:var(--negative-second);
}

.navbar-wrapper {
	height:140px;
	width:100%;
	top:0;
	left:0;
	z-index:20;
	text-align:center;
	position:absolute;
}
.navbar {
	display:inline-block;
	margin:20px auto 0 auto;
	width:auto;
	height:auto;
	padding-bottom:10px;
	border-radius:var(--border-radius);
	background:var(--main-second-transparent);
	backdrop-filter:var(--blur);
	text-align:center;
	box-shadow:var(--shadow-smooth);
}
.navbar .item {
	position:relative;
	cursor:pointer;
	width:104px;
	height:74px;
	vertical-align:top;
	display:inline-block;
	margin:10px 10px 0 10px;
	box-sizing:border-box;
	padding:10px;
	overflow:hidden;
	background:var(--main-first-transparent);
	border-radius:var(--border-radius);
}
.navbar .item.active {
	pointer-events:none;
}
.navbar .item .pattern {
	position:absolute;
	fill:var(--main-first);
	opacity:0.2;
	transform:scale(2.5) rotate(50deg);
	transition:opacity 0.25s, fill 0.25s;
	z-index:23;
	top:0;
	left:0;
	width:calc(100% - 2.5px);
	height:calc(100% - 2.5px);
	pointer-events:none;
	border-radius:var(--border-radius);
}
html.light .navbar .item .pattern {
	fill:var(--main-second);
}
.navbar .item.active .pattern, #desktop .navbar .item:hover .pattern {
	opacity:0.125;
	fill:var(--accent-contrast);
}
html.light .navbar .item.active .pattern, html.light #desktop .navbar .item:hover .pattern {
	opacity:0.1;
}
.navbar .item .background {
	position:absolute;
	z-index:22;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	transition:opacity 0.25s;
	pointer-events:none;
	border-radius:var(--border-radius);
}
.navbar .item.active .background, #desktop .navbar .item:hover .background {
	opacity:0.9;
}
.navbar .item#navbar-chatbot .pattern {
	transform:scale(2.5) rotate(20deg);
}
.navbar .item#navbar-dashboard .pattern {
	transform:scale(2.5) rotate(80deg);
}
.navbar .item#navbar-market .pattern {
	transform:scale(2.5) rotate(50deg);
}
.navbar .item#navbar-holdings .pattern {
	transform:scale(2.5) rotate(210deg);
}
.navbar .item#navbar-activity .pattern {
	transform:scale(2.5) rotate(150deg);
}
.navbar .item#navbar-settings .pattern {
	transform:scale(2.5) rotate(260deg);
}
.navbar .item#navbar-chatbot .background {
	background:var(--colorful-gradient);
}
.navbar .item#navbar-dashboard .background {
	background:var(--blue-gradient);
}
.navbar .item#navbar-market .background {
	background:var(--atlas-gradient);
}
.navbar .item#navbar-holdings .background {
	background:var(--greener-gradient);
}
.navbar .item#navbar-activity .background {
	background:var(--purple-gradient);
}
.navbar .item#navbar-settings .background {
	background:var(--orange-gradient);
}
#desktop .navbar .item:hover span, .navbar .item.active span {
	color:var(--accent-contrast);
}
#desktop .navbar .item:hover svg, .navbar .item.active svg {
	fill:var(--accent-contrast);
}
.navbar .item .content {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:24;
	justify-content:center;
	align-items:center;
	display:flex;
	flex-direction:column;
}
.navbar .item svg {
	width:26px;
	height:26px;
	padding:2px;
	fill:var(--main-contrast);
}
.navbar .item span {
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	margin-top:5px;
	display:block;
	font-size:14px;
	font-weight:bold;
	color:var(--main-contrast);
}
html.navbar-compact .navbar-wrapper {
	height:100px;
}
html.navbar-compact .navbar .item {
	width:60px;
	height:60px;
	padding:10px;
}
html.navbar-compact .navbar .item span {
	display:none;
}

.page-container {
	position:absolute;
	z-index:12;
	background:var(--main-second-transparent);
	backdrop-filter:var(--blur);
	border-radius:var(--border-radius);
	box-shadow:var(--shadow-smooth);
	overflow:hidden auto;
}
.page-container.full {
	width:calc(100% - 40px);
	height:calc(100% - 135px - 20px);
	top:135px;
	left:20px;
}
html.navbar-compact .page-container.full {
	height:calc(100% - 120px - 20px);
}
.page-container.half.top-left {
	width:calc(50% - 40px);
	height:calc(50% - 40px - 40px - 7.5px);
	top:135px;
	left:20px;
}
.page-container.half.bottom-left {
	width:calc(50% - 40px);
	height:calc(50% - 40px - 40px - 7.5px);
	bottom:20px;
	left:20px;
}
.page-container.half.right {
	width:calc(50% - 20px);
	height:calc(100% - 135px - 20px);
	top:135px;
	right:20px;
}
html.navbar-compact .page-container.half.right {
	height:calc(100% - 120px - 20px);
}
html.navbar-compact .page-container.full, html.navbar-compact .page-container.half.top-left, html.navbar-compact .page-container.half.right {
	top:120px;
}

.page.market .page-container-toolbar {
	display:block;
	width:100%;
	text-align:center;
	margin:20px auto 20px auto;
}

.page.market .page-actions-wrapper, .page.market .page-navigation-wrapper {
	position:absolute;
	top:20px;
	left:20px;
}
.page.market .page-actions-wrapper button {
	margin-left:0;
	margin-right:10px;
}
.page.market .page-navigation-wrapper {
	left:auto;
	right:24px;
}
.page.market .page-actions-wrapper svg, .page.market .page-navigation-wrapper svg {
	width:20px;
	height:20px;
	fill:var(--accent-contrast);
	display:inline-block;
	vertical-align:top;
}
.page.market .page-navigation-wrapper svg {
	margin-top:4px;
}
.page.market .page-navigation-wrapper .left {
	margin-right:4px;
}
.page.market .page-navigation-wrapper .right {
	margin-left:4px;
}
.page.market .page-navigation-wrapper span {
	margin-left:10px;
	border-radius:var(--border-radius);
	padding:0 10px 0 10px;
	font-size:16px;
	line-height:40px;
	display:inline-block;
	vertical-align:top;
	font-weight:bold;
	background:var(--main-third);
	color:var(--main-contrast);
}

.list-text {
	text-align:center;
	position:absolute;
	font-size:18px;
	font-weight:bold;
	color:var(--main-contrast);
	line-height:40px;
	width:200px;
	top:calc(50% - 40px / 2);
	left:calc(50% - 200px / 2);
}
.market-list, .holdings-list, .activity-list {
	position:absolute;
	width:100%;
	height:calc(100% - 40px - 40px);
	left:0;
	top:80px;
	overflow:hidden auto;
}
.holdings-list, .activity-list {
	top:0;
	height:calc(100% - 60px);
}
.market-list-row, .holdings-list-row, .activity-list-row {
	position:relative;
	width:calc(100% - 40px);
	max-width:1320px;
	display:block;
	background:var(--main-third);
	opacity:0.8;
	box-shadow:var(--shadow-smooth);
	overflow:hidden;
	border-radius:var(--border-radius);
	margin:0 auto 20px auto;
	cursor:pointer;
}
.holdings-list-row:first-of-type, .activity-list-row:first-of-type {
	margin-top:20px;
}
html.light .market-list-row, html.light .holdings-list-row, html.light .activity-list-row {
	background:var(--main-fourth);
}
html.light #desktop .market-list-row:hover, html.light #desktop .holdings-list-row:hover, html.light #desktop .activity-list-row:hover {
	background:var(--main-fifth);
}
#desktop .market-list-row:hover, #desktop .holdings-list-row:hover, #desktop .activity-list-row:hover {
	background:var(--main-fourth);
}
.market-list-row .icon-wrapper, .holdings-list-row .icon-wrapper {
	width:120px;
	height:120px;
	display:inline-block;
	vertical-align:middle;
	position:relative;
	background:var(--main-first);
	margin-left:-10px;
}
html.light .market-list-row .icon-wrapper, html.light .holdings-list-row .icon-wrapper {
	background:var(--main-first-transparent);
}
.market-list-row .icon, .holdings-list-row .icon {
	width:calc(100% - 40px);
	height:calc(100% - 40px);
	margin:16px;
	padding:2px;
	border-radius:50%;
}
.holdings-list-row .icon {
	margin:20px 16px 16px 22.5px;
}
html.dark .market-list.backdrop .icon, html.dark .holdings-list.backdrop .icon {
	background:rgb(255,255,255);
}
.market-list-row .info-wrapper, .market-list-row .info-container, .holdings-list-row .info-wrapper, .holdings-list-row .info-container, .activity-list-row .info-wrapper, .activity-list-row .info-container {
	display:inline-block;
	vertical-align:middle;
	text-align:right;
	width:calc(100% - 40px - 60px - 30px);
}
.activity-list-row .info-wrapper {
	width:calc(100% - 10px);
}
.market-list-row .info-container, .holdings-list-row .info-container, .activity-list-row .info-container {
	width:calc(100% - 220px);
	white-space:nowrap;
	overflow:auto visible;
	padding:20px 0 20px 0;
}
.market-list-row span, .holdings-list-row span, .activity-list-row span {
	font-size:16px;
	font-weight:bold;
	color:var(--main-contrast);
}
.market-list-row .top, .holdings-list-row .top, .activity-list-row .top {
	display:block;
	margin-bottom:30px;
}
.market-list-row .bottom, .holdings-list-row .bottom, .activity-list-row .bottom {
	display:block;
	margin-top:30px;
}
.market-list-row .top span, .holdings-list-row .top span, .activity-list-row .top span {
	background:var(--main-first);
	margin-left:10px;
	padding:10px;
	border-radius:var(--border-radius);
}
.market-list-row .bottom span, .holdings-list-row .bottom span, .activity-list-row .bottom span, .activity-list-row .info-container span {
	background:var(--main-first-transparent);
	margin-left:10px;
	padding:10px;
	border-radius:var(--border-radius);
}
.market-list-row .name, .market-list-row .rank, .market-list-row .symbol, .holdings-list-row .name, .holdings-list-row .rank, .holdings-list-row .symbol, .activity-list-row .date, .activity-list-row .symbol, .activity-list-row .type {
	max-width:200px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	position:absolute;
	left:140px;
	top:17px;
	padding:9px 10px 9px 10px;
	background:var(--accent-first);
	color:var(--accent-contrast);
	border-radius:var(--border-radius);
}
.market-list-row .rank-container, .holdings-list-row .rank-container, .activity-list-row .asset-container {
	position:absolute;
	left:140px;
	bottom:17px;
}
.activity-list-row .asset-container {
	position:absolute;
	bottom:auto;
	top:20px;
	left:20px;
}
.market-list-row .rank, .holdings-list-row .rank, .activity-list-row .date {
	text-align:center;
	display:inline-block;
	vertical-align:top;
	position:relative;
	top:auto;
	left:auto;
	background:var(--accent-second);
}
.market-list-row .symbol, .holdings-list-row .symbol, .activity-list-row .symbol, .activity-list-row .type {
	margin-left:10px;
	text-align:center;
	display:inline-block;
	vertical-align:top;
	position:relative;
	top:auto;
	left:auto;
	background:var(--accent-third);
}
.activity-list-row .type.buy {
	background:var(--positive-first);
}
.activity-list-row .type.sell {
	background:var(--negative-first);
}
.activity-list-row .type.transfer {
	background:var(--main-first);
}
.activity-list-row .info-container .amount {
	max-width:none;
}
.activity-list-row .info-container span {
	max-width:200px;
	margin-left:0;
	margin-right:10px;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	display:inline-block;
}

.page-container.holdings.half.top-left {
	width:300px;
	height:240px;
	top:135px;
	left:20px;
}
html.navbar-compact .page-container.holdings.half.top-left {
	top:120px;
}
.page-container.holdings.half.bottom-left {
	width:300px;
	max-height:calc(100% - 135px - 20px - 240px - 20px);
	height:auto;
	padding-bottom:20px;
	top:calc(135px + 240px + 20px);
	bottom:auto;
	left:20px;
}
html.navbar-compact .page-container.holdings.half.bottom-left {
	max-height:calc(100% - 120px - 20px - 240px - 20px);
	top:calc(120px + 240px + 20px);
}
.page-container.holdings.half.right {
	width:calc(100% - 340px - 20px);
	height:calc(100% - 135px - 20px);
	top:135px;
	right:20px;
}
html.navbar-compact .page-container.holdings.half.right {
	top:120px;
	height:calc(100% - 120px - 20px);
}
.holdings-card {
	width:calc(100% - 40px - 40px);
	padding:20px;
	height:50px;
	margin:20px auto 0 auto;
	display:block;
	border-radius:var(--border-radius);
	background:var(--accent-first);
}
.holdings-card.username {
	background:var(--ocean-gradient);
}
.holdings-card.value {
	background:var(--pale-gradient);
}
.holdings-card span {
	font-size:20px;
	font-weight:bold;
	line-height:50px;
	display:block;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.holdings-card span.inline {
	display:inline-block;
	vertical-align:middle;
	width:calc(300px - 100px - 40px);
}
.holdings-card svg {
	width:40px;
	height:40px;
	fill:var(--accent-contrast);
	display:inline-block;
	vertical-align:middle;
	margin-right:20px;
}
.page-container.holdings.half.bottom-left .action-button {
	display:block;
	margin:20px auto 0 auto;
	width:calc(100% - 40px);
}

.page.activity .page-container.full .loading-icon {
	top:calc(50% - 80px / 2 - 35px);
}
.page.activity .page-container.full .list-text {
	top:calc(50% - 40px / 2 - 35px);
}
.page.activity .page-container-toolbar {
	width:100%;
	height:60px;
	position:absolute;
	bottom:0;
	left:0;
	background:var(--main-third);
}
.page.activity .page-container-toolbar .page-actions-wrapper {
	position:absolute;
	top:10px;
	right:10px;
	text-align:right;
}
.page.activity .page-container-toolbar input {
	position:absolute;
	width:200px;
	top:10px;
	left:10px;
	background:var(--main-fourth);
	color:var(--main-contrast);
	font-size:16px;
	font-weight:bold;
	padding:0 10px 0 10px;
	height:40px;
	line-height:40px;
	border-radius:var(--border-radius);
	box-sizing:border-box;
	border-style:solid;
	border-width:2px;
	border-color:transparent;
}
.page.activity .page-container-toolbar input.active {
	background:var(--main-first);
}
.page.activity .page-container-toolbar input.active:focus {
	background:var(--main-first-transparent);
}
.activity-list-row {

}

.page-container.settings {
	box-sizing:border-box;
	border-style:solid;
	border-width:2px;
	border-color:var(--accent-first);
}
.settings-navbar {
	position:absolute;
	top:0;
	left:0;
	width:160px;
	height:100%;
	border-top-left-radius:var(--border-radius);
	border-bottom-left-radius:var(--border-radius);
	box-sizing:border-box;
	border-style:solid;
	border-width:0 2px 0 0;
	border-color:var(--accent-first);
}
.settings-navbar .item {
	width:100%;
	cursor:pointer;
	padding:20px 0 20px 20px;
	box-sizing:border-box;
	border-style:solid;
	border-width:0 0 2px 0;
	border-color:var(--accent-first);
}
.settings-navbar .item.active {
	pointer-events:none;
	background:var(--accent-first);
}
#desktop .settings-navbar .item:hover {
	background:var(--accent-first);
}
#desktop .settings-navbar .item:hover span, .settings-navbar .item.active span {
	color:var(--accent-contrast);
}
#desktop .settings-navbar .item:hover svg, .settings-navbar .item.active svg {
	fill:var(--accent-contrast);
}
.settings-navbar .item span {
	font-size:16px;
	font-weight:bold;
	color:var(--main-contrast);
}
.settings-page {
	z-index:13;
	position:absolute;
	top:0;
	left:160px;
	width:calc(100% - 160px - 40px);
	height:calc(100% - 40px);
	padding:20px;
	overflow:hidden auto;
}
.settings-section {
	box-sizing:border-box;
	border-style:solid;
	border-width:2px;
	border-color:var(--accent-second);
	display:inline-flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding:10px;
	border-radius:var(--border-radius);
	margin:0 20px 20px 0;
	min-height:64px;
}
.settings-section .title {
	font-size:18px;
	font-weight:bold;
	display:block;
	margin:0 auto 10px auto;
	padding:10px;
	border-radius:var(--border-radius);
	background:var(--main-fourth);
}
.settings-section .content {
	max-width:240px;
}
.settings-section .content.block .action-button, .settings-section .content.block .choice-button {
	display:block;
	margin:0 auto 10px auto;
}
.settings-section .content.block .action-button:last-of-type, .settings-section .content.block .choice-button:last-of-type {
	margin-bottom:0;
}
.settings-section .toggle-wrapper {
	width:55px;
	height:30px;
	border-radius:15px;
	vertical-align:middle;
	margin-top:5px;
	margin-bottom:5px;
}
.action-button, .choice-button {
	display:inline-block;
	vertical-align:middle;
	padding:0 10px 0 10px;
	height:40px;
	font-size:18px;
	margin-left:10px;
	background:var(--accent-first);
	border-radius:var(--border-radius);
	font-weight:bold;
	color:var(--accent-contrast);
	transition:background 0.25s;
}
.choice-button {
	box-sizing:border-box;
	border-style:solid;
	border-width:2px;
	border-color:var(--accent-first);
	background:none;
	color:var(--main-contrast);
}
html.light .choice-button {
	color:var(--main-contrast-darker);
	border-color:var(--main-contrast-darker);
}
.settings-section .action-button:first-of-type, .settings-section .choice-button:first-of-type {
	margin-left:0;
}
#desktop .action-button:hover {
	background:var(--accent-second);
}
#desktop .choice-button:hover, .choice-button.active, html.light .choice-button.active {
	background:var(--accent-first);
	border-color:var(--accent-first);
	color:var(--accent-contrast);
}
.choice-button.active {
	pointer-events:none;
}