/* TODO: Clean up CSS. */

html, body, input, textarea {
	font-family:var(--font-family);
}

body {
	margin:0;
	background:var(--main-first);
	color:var(--main-contrast);
	padding:0;
	font-size:0;
	overflow:hidden;
}
input, button {
	outline:none;
	border:none;
}
button {
	cursor:pointer;
	transition:background 0.25s;
}
a {
	text-decoration:none;
}
.noselect {
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	outline:none;
}
.hidden {
	display:none;
	visibility:hidden;
	position:absolute;
	z-index:-1;
}

::-webkit-scrollbar, div::-webkit-scrollbar {
	display:block;
	width:4px;
	height:10px;
	background:var(--main-second);
}
::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb {
	border-radius:5px;
	background:var(--main-fifth);
}
::-webkit-scrollbar-thumb:hover, div::-webkit-scrollbar-thumb:hover {
	background:var(--main-fourth);
}
::-webkit-scrollbar-track, div::-webkit-scrollbar-track { 
	background:var(--main-second);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance:none;
	margin:0;
}
input[type=number] {
	-moz-appearance:textfield;
}

#background {
	pointer-events:none;
	transform:scaleX(-1);
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.5;
	background-size:cover;
	background-attachment:fixed;
	z-index:1;
}

.login-title-wrapper {
	z-index:2;
	position:absolute;
	top:calc(50% - 60px / 2 - 160px - 20px);
	left:calc(50% - 300px / 2);
	height:60px;
	width:300px;
	text-align:center;
	background:var(--main-second-transparent);
	backdrop-filter:blur(2px);
	box-shadow:var(--shadow-smooth);
	border-radius:var(--border-radius);
}
.login-title-wrapper span {
	padding-top:4px;
	line-height:60px;
	color:var(--accent-first);
	font-weight:bold;
	display:block;
	font-size:34px;
	font-family:"Arkhip";
}

.login-wrapper {
	z-index:2;
	position:absolute;
	width:300px;
	height:260px;
	left:calc(50% - 300px / 2);
	top:calc(50% - 260px / 2);
	background:var(--main-second-transparent);
	backdrop-filter:blur(2px);
	box-shadow:var(--shadow-smooth);
	border-radius:var(--border-radius);
}
.login-wrapper input {
	width:calc(100% - 40px);
	display:block;
	padding:0 10px 0 10px;
	height:40px;
	font-size:18px;
	background:none;
	outline:none;
	box-sizing:border-box;
	border-style:solid;
	border-width:2px;
	border-color:var(--accent-first);
	color:var(--main-contrast);
	border-radius:var(--border-radius);
	margin:20px auto 0 auto;
	font-weight:bold;
}
.login-wrapper input::placeholder {
	color:var(--accent-first);
}
.login-wrapper input:focus {
	border-color:var(--main-contrast);
}
.login-wrapper input:focus::placeholder {
	color:var(--main-contrast);
}
.login-wrapper button {
	width:calc(100% - 40px);
	display:block;
	padding:0 10px 0 10px;
	height:40px;
	font-size:18px;
	background:var(--accent-first);
	cursor:pointer;
	outline:none;
	border:none;
	border-radius:var(--border-radius);
	margin:20px auto 0 auto;
	font-weight:bold;
	color:var(--accent-contrast);
	transition:background 0.25s;
}
#desktop .login-wrapper button:hover {
	background:var(--accent-second);
}

.toggle-wrapper {
	width:50px;
	height:25px;
	background:var(--main-third);
	border-radius:12.5px;
	position:relative;
	cursor:pointer;
	display:inline-block;
	box-shadow:var(--shadow-smooth);
}
.toggle-wrapper.active {
	background:var(--accent-first);
}
.toggle-container {
	transform:scale(1.05);
	width:50%;
	height:100%;
	border-radius:50%;
	background:var(--main-fifth);
	transition:0.25s;
	left:0;
	top:0;
	position:absolute;
}
.toggle-wrapper.active .toggle-container {
	left:50%;
	background:var(--main-fourth);
}
.toggle-container svg {
	width:70%;
	height:60%;
	padding:20% 15% 20% 15%;
	fill:var(--accent-first);
}
.toggle-container .moon-icon {
	display:block;
}
.toggle-wrapper.active .moon-icon {
	display:none;
}
.toggle-wrapper.active .sun-icon {
	display:block;
}
.sun-icon {
	display:none;
}

.login-page .toggle-wrapper {
	position:absolute;
	z-index:2;
	bottom:calc(50% - 40px / 2 - 150px - 20px);
	left:calc(50% - 80px / 2);
	width:80px;
	height:40px;
	border-radius:20px;
}
html.light .login-page .toggle-container {
	background:var(--main-second);
}

.popup-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:49;
	backdrop-filter:blur(4px);
	background:rgba(0,0,0,0.5);
}
.popup-wrapper {
	position:absolute;
	z-index:50;
	border-radius:var(--border-radius);
	backdrop-filter:blur(4px);
	background:var(--main-first-transparent);
	overflow:hidden auto;
}
.popup-wrapper .top {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:30px;
	background:var(--accent-first);
}
.popup-wrapper .top button {
	padding:0;
	width:30px;
	height:30px;
	background:var(--accent-second);
}
#desktop .popup-wrapper .top button:hover {
	background:var(--accent-third);
}
.popup-wrapper .top button svg {
	width:20px;
	height:20px;
	fill:var(--accent-contrast);
	pointer-events:none;
}
.popup-wrapper .top .title {
	font-size:16px;
	font-weight:bold;
	color:var(--accent-contrast);
	vertical-align:top;
	padding-left:10px;
	line-height:30px;
}
.popup-wrapper .bottom {
	position:absolute;
	top:30px;
	left:0;
	width:calc(100% - 40px);
	height:calc(100% - 30px - 40px);
	padding:20px;
	text-align:left;
}
.popup-wrapper .bottom span {
	display:block;
	font-size:16px;
	padding:10px;
	background:var(--main-second);
	border-radius:var(--border-radius);
	box-sizing:border-box;
	border-style:solid;
	border-width:2px;
	border-color:var(--accent-first);
}
.popup-wrapper .bottom .popup-button-wrapper {
	width:100%;
	height:40px;
	text-align:center;
	display:block;
	margin-top:20px;
}
.popup-wrapper .bottom .popup-button-wrapper button {
	height:100%;
	width:calc(50% - 10px);
	font-size:18px;
	font-weight:bold;
	color:var(--accent-contrast);
	border-radius:var(--border-radius);
	background:var(--accent-first);
}
.popup-wrapper .bottom button.button-cancel {
	margin-right:10px;
	background:var(--main-fourth);
	color:var(--main-contrast-darker);
	box-sizing:border-box;
	border-style:solid;
	border-width:2px;
	border-color:var(--accent-first);
}
.popup-wrapper .bottom button.button-confirm {
	margin-left:10px;
}
#desktop .popup-wrapper .bottom button.button-cancel:hover {
	background:var(--main-fifth);
}
#desktop .popup-wrapper .bottom button.button-confirm:hover {
	background:var(--accent-second);
}